@import '~@angular/material/toolbar/toolbar';

$header-height-large: $md-toolbar-height-desktop !default;
$header-height-medium: $md-toolbar-height-mobile-portrait !default;
$header-height-small: $md-toolbar-height-mobile-landscape !default;
