<ac-header (refresh)="load()" [loading]="loading"></ac-header>

<ac-loader class="align-self-center" *ngIf="loading"></ac-loader>

<div class="body" *ngIf="!loading && environments">
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let environment of environments; trackBy:trackByName">
      {{ environment.name }}
      <!-- <ac-environment-row [environment]="environment" (remove)="remove($event)"></ac-environment-row> -->
    </li>
  </ul>
</div>
